<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676320743512-d1n4j7hqbeofie0s1333emu0sjc19e19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676320743512-d1n4j7hqbeofie0s1333emu0sjc19e19</string>
	<key>API_KEY</key>
	<string>AIzaSyCFRs1tSeWS-5a-Qpf8y9BN84kI_IgkXBs</string>
	<key>GCM_SENDER_ID</key>
	<string>676320743512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.upcomingMovie</string>
	<key>PROJECT_ID</key>
	<string>dartflix-4e960</string>
	<key>STORAGE_BUCKET</key>
	<string>dartflix-4e960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676320743512:ios:31453e57e30f960d14fa2d</string>
</dict>
</plist>